body {
    font-family: Helvetica, Arial, sans-serif;
    color: #ccc;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

canvas {
    border-radius: 1rem;
    border: 3px solid rgba(255,255,255,0.7);
}